{% extends "base.html" %}
{% block content %}
<div class="content-section">
<h1>Question {{ nr }}/{{ maxnr }} for {{ user }} in group {{ group }}</h1>
<p>{{ object.content }}</p>
<form method="POST">
    {% csrf_token %}
    <input type="radio" id="4" name="answer" value="4"><label for="4">Completely agree</label><br>
    <input type="radio" id="3" name="answer" value="3"><label for="3">Somewhat agree</label><br>
    <input type="radio" id="2" name="answer" value="2"><label for="2">I don't know</label><br>
    <input type="radio" id="1" name="answer" value="1"><label for="1">Somewhat disagree</label><br>
    <input type="radio" id="0" name="answer" value="0"><label for="0">Completely disagree</label><br>

    <input type="submit" value="Answer">
</form>
{% if nr != "1" %}
    <a href="/question/?nr={{ nr|add:"-1" }}&group={{ group }}"> Prev </a>
{% endif %}
</div>
{% endblock %}